#controller-wrapper thead th {
  position: sticky;
  top: 0;
}

#controller-wrapper .ReviewingTable {
  width: 100%;
  height: 300px;
  overflow-y: auto;
}

#controller-wrapper .table {
  height: 100%;
}
